header {
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 100%);
}

h1 {
    padding-top: 30px;
    text-align: center;
    color: white;
}

.switch {
    display: flex;
    justify-content: center;
}

.switch>a {
    color: white;
    text-decoration: none;
    margin: 35px;
    padding: 10px 43px;
    border: 1px solid white;
    border-radius: 21px;
}

.switch>a:hover {
    color: white;
    background-color: #8490FF;
    transition: 300ms linear;
    box-shadow: 0 2px 8px #777;
}

form {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 3%;
}

td>a {
    background: linear-gradient(to right, #8490ff -52%, #62bdfc 150%);
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 7px 15px;
    border: 1px solid lightgrey;
    border-radius: 21px;
    font-size: small;
}

td>a:hover {
    color: white;
    background-color: #8490FF;
    transition: 300ms linear;
    box-shadow: 0 2px 8px #777;
}

.text-duo {
    height: 50px;
    width: 100%;
    color: white;
    background: linear-gradient(to right, #8490ff 0%, #62bdfc 100%);
}

.one {
    margin-left: 65px;
    margin-top: 25px;
    float: left;
    font-size: smaller;
}

.two {
    margin-right: 65px;
    margin-top: 25px;
    float: right;
    font-size: smaller;
}

.clear {
    clear: both;
}